@page
@model OnlineShopping.Pages.ViewProdAdminModel
@{
    ViewData["Title"] = "View Products";
}

<div class="all">
    <!-- (A) SIDEBAR -->
    <div id="pgside">
        <!-- LINK TO DASHBOARD OR LOGOUT -->
        <div id="pguser">
            <img src="Images/potato.png" />
            <i class="txt">Hello, Admin</i>
        </div>
        <hr style="background:#bd97db" />
        <!-- (A2) MENU ITEMS -->
        <a href="/Admin" >
            <i class="ico">&#9733;</i>
            <i class="txt">Info</i>
        </a>
        <hr class="sidebar" />

        <a href="#">
            <i class="ico">&#9728;</i>
            <i class="txt">Product Details</i>
        </a>
        <hr class="sidebar" />
        <a href="/AddPageAdmin">
            <i class="ico">&#9737;</i>
            <i class="txt">Add Products</i>
        </a>

        <a href="/index" class="Logout">
            <i class="ico">&#9737;</i>
            <i class="txt">Logout</i>
        </a>
    </div>

    <!-- (B) MAIN -->
    <main id="pgmain">
        <h>Product Details</h>
        <br />
<table>
    <thead>

        <tr>
                    <th>Product_id </th>
                    <th>Product Name </th>
                    <th>Category </th>
                    <th>Price </th>
                    <th>Count </th>
                    <th>Update Products Details</th>
        </tr>
    </thead>
    <tbody>
                @foreach (var x in Model.list_name)
                {


            <tr>
                        <td name="id">@x.p_id</td>
                        <td>@x.p_name</td>
                        <td>@x.cat</td>
                        <td>@x.amount</td>
                        <td>@x.count</td>
                        <td>
                            <a href="/EditProdAdmin?id=@x.p_id" class="btn btn-success">↑ Update</a>
                            <a href="/DeleteProdAdmin?id=@x.p_id" class="btn btn-danger">🗑 Delete</a>
                        </td>
                        
            </tr>
                }
    </tbody>
</table>
    </main>
</div>


